 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lilita+One&family=Oswald:wght@200..700&family=Playwrite+AR:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 :root {
     --primary-color: rgba(13, 110, 139, 0.75);
     --overlay-color: rgba(24, 39, 51, 0.85);
     --menu-speed: 0.75s;
 }

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: "Roboto", sans-serif;
     line-height: 1.4;
 }

 .container {
     max-width: 960px;
     margin: auto;
     overflow: hidden;
     padding: 0.3rem;
 }

 .showcase {
     background-color: var(--primary-color);
     color: #ffff;
     height: 100vh;
     position: relative;
 }

 .showcase::after {
     content: '';
     background: url(./images/beach.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
 }

  .showcase .showcase-inner{
     display: flex; 
     flex-direction: column; 
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 100%;
 }
 .showcase h1{
    font-size: 1.3rem;
 }
 .btn a{
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #ffff;
    padding: 15px 20px ;
    margin: 16px;
    text-decoration: none;
    transition: opacity 1s ease-in;
 }
 .btn:hover{
    opacity: 0.7;
 }